<div class="magic-block-callout type-<%= type %> ">
  <h3><i title="Warning" class="fa fa-exclamation-circle"></i><%= title %></h3>
  <div class="callout-body">
    <p><%= body %></p>
  </div>
</div>
