<% images.each do |imgs| -%>
<% image = imgs["image"] -%>
<div class="m-md center">
  <div class="mx-auto inline-block">
    <img src="<%= image[0] %>" title="<%= image[1] %>" style="background-color: <%= image[4] %>" style="max-width: 100%; max-height: 450px;" />
  </div>
</div>
<% end -%>
