<div class="table">
  <table>
    <tr>
<% 0.upto(cols.to_i - 1) do |col| -%>
      <th><%= Kramdown::Document.new(data[['h',col].join('-')] || '', input: 'GFM').to_html %></th>
<% end -%>
    </tr>
<% 0.upto(rows.to_i - 1) do |row| -%>
    <tr>
<% 0.upto(cols.to_i - 1) do |col| -%>
      <td><%= Kramdown::Document.new(data[[row,col].join('-')] || '', input: 'GFM').to_html %></td>
<% end -%>
    </tr>
<% end -%>
  </table>
</div>
