<div class="magic-block-parameters">
  <div class="block-parameters-table">
    <table>
      <tr>
<% 0.upto(cols.to_i - 1) do |col| -%>
        <th><%= data[['h',col].join('-')] %></th>
<% end -%>
      </tr>
<% 0.upto(rows.to_i - 1) do |row| -%>
      <tr>
<% 0.upto(cols.to_i - 1) do |col| -%>
        <td><%= data[[row,col].join('-')] %></td>
<% end -%>
      </tr>
<% end -%>
    </table>
  </div>
</div>
