<div class="magic-block-parameters">
  <div class="block-parameters-table">
    <table>
<% 1.upto(rows.to_i) do |row| -%>
      <tr>
<% 1.upto(cols.to_i) do |col| -%>
        <td><%= [row,col].join('-') %></td>
<% end -%>
      </tr>
<% end -%>
    </table>
  </div>
</div>
